.checkoutProduct{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}

.checkoutProduct__info{
    padding-left: 20px;
}

.checkoutProduct__info > button{
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    margin-top: 10px;
}

.checkoutProduct__rating{
    display: flex;
}

.checkoutProduct__image{
    object-fit: contain;
    width: 180px;
    height: 180px;
}

.checkoutProduct__title{
    font-size: 17px;
    font-weight: 800;
}